@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  background: #225FA5;
  color: #fff; }

h2 span, h3 span {
  font-weight: bold; }

.video-wrapper {
  position: relative;
  width: 100%;
  height: 104vh;
  overflow: hidden;
  text-align: center; }
  .video-wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(34, 95, 165, 0.7);
    z-index: 5; }

video.fullscreen {
  position: absolute;
  right: -100%;
  left: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto;
  min-height: 100%;
  min-width: 100%; }

.video-wrapper .hero-content {
  display: inline-block;
  position: absolute;
  z-index: 10;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0); }

.video-wrapper svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4vh;
  z-index: 20;
  /* set height to pixels if you want angle to change with screen width */ }

.video-wrapper svg.big {
  bottom: -2px;
  z-index: 20;
  /* set height to pixels if you want angle to change with screen width */ }

.video-wrapper svg.small {
  z-index: 15;
  /* set height to pixels if you want angle to change with screen width */ }

.btn {
  border-radius: 0;
  border: 1pt solid #fff;
  font-size: 20px;
  cursor: pointer; }

.btn:hover {
  background: rgba(34, 95, 165, 0.4); }

.title {
  font-size: 70px;
  margin-bottom: 30px; }

.sub-title {
  font-size: 50px;
  margin: 50px 0; }

.filters-list {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 16px; }

.filters-list > .filter {
  display: inline-block;
  padding: 5px 15px;
  opacity: 0.5;
  cursor: pointer; }

.filters-list > .filter.active {
  background: #fff;
  color: #225FA5;
  font-weight: bold;
  opacity: 1; }

.card-el {
  position: relative;
  text-align: center;
  height: 230px;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 30px; }

.card-el::before {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(30, 71, 120, 0.3), rgba(30, 71, 120, 0.5)); }

.card-el img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: -webkit-transform 1s;
  transition: transform 1s; }

.card-el .text-container, .card-el .text-overlay {
  opacity: 0;
  transition: opacity 0.6s; }

.card-el .text-container {
  position: absolute;
  z-index: 10;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #1E4778; }

.card-el .text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(181, 215, 255, 0.3), rgba(181, 215, 255, 0.5)); }

.card-el:hover .text-overlay, .card-el:hover .text-container {
  opacity: 1; }

.card-el:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2); }

.card-el h3 {
  font-size: 30px; }
